<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Chats</title>
</head>
<body>
    <div class="container">
        <h1>Messages</h1>
        <ul class="chat-list">
            <li class="chat">
                <img src="https://www.shareicon.net/data/512x512/2017/05/30/886556_user_512x512.png" alt="User 1 Avatar">
                <div class="chat-info">
                    <h2>Luis</h2>
                    <p>¡Hola! ¿Cómo estás?</p>
                </div>
                <img src="/assets/camera.png" alt="camera">
            </li>
            <li class="chat">
                <img src="https://www.shareicon.net/data/512x512/2017/05/30/886556_user_512x512.png" alt="User 2 Avatar">
                <div class="chat-info">
                    <h2>Isabella</h2>
                    <p>Hey, estoy bien. ¿Y tú?<span class="camera-icon"></span></p>
                </div>
                <img src="/assets/camera.png" alt="camera">
            </li>

            <li class="chat">
                <img src="https://www.shareicon.net/data/512x512/2017/05/30/886556_user_512x512.png" alt="User 2 Avatar">
                <div class="chat-info">
                    <h2>Jorge</h2>
                    <p>Hi!</p>
                </div>
                <img src="/assets/camera.png" alt="camera">
            </li>

            <li class="chat">
                <img src="https://www.shareicon.net/data/512x512/2017/05/30/886556_user_512x512.png" alt="User 2 Avatar">
                <div class="chat-info">
                    <h2>Samantha</h2>
                    <p>Let's meet this night</p>
                </div>
                <img src="/assets/camera.png" alt="camera">
            </li>

            <li class="chat">
                <img src="https://www.shareicon.net/data/512x512/2017/05/30/886556_user_512x512.png" alt="User 2 Avatar">
                <div class="chat-info">
                    <h2>Eric</h2>
                    <p>I found the videogame that we wanted to play yesterday</p>
                </div>
                <img src="/assets/camera.png" alt="camera">
            </li>
        </ul>
    </div>
</body>
</html>
